.nav {
    width: 150px;
    margin-top: 15px;
    line-height: 30px;
    float: left;
}

.item {
    width: 130px;
    padding: 0 10px;
    border-radius: 2px;
}

.item:hover {
    background-color: #e1e3e6;
}

.itemPhoto {
    display: inline-block;
    width: 16px;
    text-align: center;
    margin-right: 11px;
}

.itemPhoto img {
    width: 100%;
    vertical-align: middle;
}

.itemLink {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #2a5885;
    font-size: 14px;
    font-family: sans-serif Roboto;
    font-weight: 400;
    letter-spacing: -0.5px;
}